.root {
  position: relative;
  font-family: 'Nunito Sans', sans-serif;

  svg {
    fill: #dff9fb;
    cursor: pointer;
    width: 28px;
    height: 100%;

    &:hover {
      fill: lighten(#dff9fb, 50);
    }
  }

  .video {
    width: 100%;
  }

  .controls {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
    color: #dff9fb;
    height: 40px;
    display: grid;
    grid-template-columns: repeat(2, auto) 1fr repeat(3, auto);
    gap: 8px;
    align-items: center;
    background: #2f3640;

    .play {
      margin-left: 10px;
    }

    .fullscreen {
      width: 35px;
      margin-right: 10px;
      &:hover {
        animation: fullscreen 0.25s alternate 2;
      }
    }

    .volume {
      display: flex;

      &:hover {
        input {
          width: 50px;

          &::-webkit-slider-thumb {
            width: 10px;
          }
        }
      }
      input {
        margin-left: 5px;
        width: 0;
        -webkit-appearance: none;
        background: transparent;
        transition: width 0.25s;

        &:focus {
          outline: none;
        }

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          width: 0px;
          height: 10px;
          border-radius: 50%;
          background: #c7ecee;
          cursor: pointer;
          margin-top: -3px;
        }

        &::-webkit-slider-runnable-track {
          height: 4px;
          background: #dff9fb;
        }
      }
    }
  }
}

.hidden {
  display: none;
}

@keyframes fullscreen {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}
